<a href=<%=@pay_url%> name="MP-payButton" class="blue-l-rn-ar" mp-mode="modal" callback="process_callback">Pagar</a>
<script type="text/javascript" src="http://mp-tools.mlstatic.com/buttons/render.js"></script>
token: <%= @token%>